$black: #0b0b0b;
$white: #ffffff;
$gray: #c4c4c4;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    max-width: 1920px;
    background: $gray;
    margin: 0 auto;
}

header {
    .nav-bar {
        z-index: 1;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        width: 100%;
        background: $black;
        @include mobile {
            position: relative;
        }
        .nav-log {
            padding: 10px 65px;
            svg {
                path {
                    fill: $white;
                }
            }
        }
        .nav-menu {
            padding: 10px 65px;
            align-items: center;
            @include mobile {
                &.nav-menu {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 100%;
                    top: 64px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 10px 0;
                    button {
                        background: rgba($color: $black, $alpha: 0.5);
                        border: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 35px;
                        width: 100%;
                        a {
                            font-family: "Montserrat", sans-serif;
                            font-size: 24px;
                            width: 100%;
                            color: $white;
                            text-decoration: none;
                        }
                    }
                    .contact-me {
                        background: $white;
                        border: 0;
                        border-radius: 0;
                        a {
                            width: 100%;
                            color: $black;
                        }
                    }
                }
                &.nav-menu.active {
                    display: flex;
                }
            }
            button {
                background: $black;
                border: solid 2px $black;
                padding: 8px;
                width: 147px;
                height: 46px;
                a {
                    font-family: "Montserrat", sans-serif;
                    font-size: 17px;
                    color: $white;
                    text-decoration: none;
                }
            }
            .contact-me {
                background: $white;
                border: solid 2px $white;
                border-radius: 30px;
                a {
                    color: $black;
                }
            }
        }
        .toggle-btn {
            display: none;
            background: url("/imgs/menu-btn.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 46px;
            border: none;
            width: 147px;
            height: 46px;
            margin-right: 10px;
            @include mobile {
                &.toggle-btn {
                    display: block;
                }
                &.toggle-btn.active {
                    background: url("/imgs/menu-btn2.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 34px;
                }
            }
        }
    }
}
